.workspace-index{
  display: grid;
  grid-template-columns: 7fr 2.5fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas: 
  "header aside-header"
  "content aside"
  "bottom aside-bottom"
  ;
  height: 100vh;
  width: 100%;
}

.header-item{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 33px;
  font-family: 'Quicksand', sans-serif;
  color: aliceblue;
}
.title{
  grid-area: header;
  background-color: rgb(170, 87, 248);
}
.miscellaneous{
  grid-area: aside-header;
  background-color: rgb(170, 87, 248);
}

.main{
  grid-area: content;
}

.aside{
  grid-area: aside;
}

.footer{
  grid-area: bottom;
}